In [2]:
import pandas as pd
from sqlalchemy import create_engine

# Extract CSVs into DataFrames

In [3]:
mlb_file = "Resources/baseballdata.csv"
mlb_df = pd.read_csv(mlb_file)
mlb_df.head()

,Unnamed: 0,Rk,Year,Tm,Lg,G,W,L,Ties,W.L.,...,R,RA,Attendance,BatAge,PAge,X.Bat,X.P,Top.Player,Managers,current
0,1,1,2016,Arizona Diamondbacks,NL West,162,69,93,0,0.426,...,752,890,"2,036,216",26.7,26.4,50,29,J.Segura (5.7),C.Hale (69-93),Arizona Diamondbacks
1,2,2,2015,Arizona Diamondbacks,NL West,162,79,83,0,0.488,...,720,713,"2,080,145",26.6,27.1,50,27,P.Goldschmidt (8.8),C.Hale (79-83),Arizona Diamondbacks
2,3,3,2014,Arizona Diamondbacks,NL West,162,64,98,0,0.395,...,615,742,"2,073,730",27.6,28.0,52,25,P.Goldschmidt (4.5),K.Gibson (63-96) and A.Trammell (1-2),Arizona Diamondbacks
3,4,4,2013,Arizona Diamondbacks,NL West,162,81,81,0,0.500,...,685,695,"2,134,895",28.1,27.6,44,23,P.Goldschmidt (7.1),K.Gibson (81-81),Arizona Diamondbacks
4,5,5,2012,Arizona Diamondbacks,NL West,162,81,81,0,0.500,...,734,688,"2,177,617",28.3,27.4,48,23,A.Hill (5.0),K.Gibson (81-81),Arizona Diamondbacks

# Extract baseball API  DataFrame

In [4]:
# Create a filtered dataframe from specific columns
mlb_transformed= mlb_df[["Tm", "Year", "Attendance"]].copy()

# Rename the column headers
mlb_transformed = mlb_transformed.rename(columns={"Tm": "team_name",
                                                          "Year": "year",
                                                          "Attendance": "attendance"})

# Clean the data by dropping duplicates and setting the index
#mlb_transformed.drop_duplicates("team_name", inplace=True)
#mlb_transformed.set_index("team_name", inplace=True)

mlb_transformed.head(1000)

                team_name  year attendance
0    Arizona Diamondbacks  2016  2,036,216
1    Arizona Diamondbacks  2015  2,080,145
2    Arizona Diamondbacks  2014  2,073,730
3    Arizona Diamondbacks  2013  2,134,895
4    Arizona Diamondbacks  2012  2,177,617
..                    ...   ...        ...
995        Detroit Tigers  1945  1,280,341
996        Detroit Tigers  1944    923,176
997        Detroit Tigers  1943    606,287
998        Detroit Tigers  1942    580,087
999        Detroit Tigers  1941    684,915

[1000 rows x 3 columns]

In [5]:
connection_string = "postgres:postgres@localhost:5432/baseball_db"
engine = create_engine(f'postgresql://{connection_string}')

In [7]:
mlb_2016_file = "Resources/mlb2016.csv"
mlb_2016_df = pd.read_csv(mlb_2016_file)
mlb_2016_df.head()

                    venue_name       city     name_display_long  year
0                  Chase Field    Phoenix  Arizona Diamondbacks  2016
1                SunTrust Park    Atlanta        Atlanta Braves  2016
2  Oriole Park at Camden Yards  Baltimore     Baltimore Orioles  2016
3                  Fenway Park     Boston        Boston Red Sox  2016
4                Wrigley Field    Chicago          Chicago Cubs  2016

In [8]:
mlb_2017_file = "Resources/mlb2017.csv"
mlb_2017_df = pd.read_csv(mlb_2017_file)
mlb_2017_df.head()

                    venue_name       city     name_display_long  year
0                  Chase Field    Phoenix  Arizona Diamondbacks  2017
1                SunTrust Park    Atlanta        Atlanta Braves  2017
2  Oriole Park at Camden Yards  Baltimore     Baltimore Orioles  2017
3                  Fenway Park     Boston        Boston Red Sox  2017
4                Wrigley Field    Chicago          Chicago Cubs  2017

In [14]:
frames = [mlb_2017_df, mlb_2016_df] 

mlb_ap_tables = pd.concat(frames)
mlb_ap_tables

,venue_name,city,name_display_long,year
0,Chase Field,Phoenix,Arizona Diamondbacks,2017
1,SunTrust Park,Atlanta,Atlanta Braves,2017
2,Oriole Park at Camden Yards,Baltimore,Baltimore Orioles,2017
3,Fenway Park,Boston,Boston Red Sox,2017
4,Wrigley Field,Chicago,Chicago Cubs,2017
5,Guaranteed Rate Field,Chicago,Chicago White Sox,2017
6,Great American Ball Park,Cincinnati,Cincinnati Reds,2017
7,Progressive Field,Cleveland,Cleveland Indians,2017
8,Coors Field,Denver,Colorado Rockies,2017
9,Comerica Park,Detroit,Detroit Tigers,2017
10,Minute Maid Park,Houston,Houston Astros,2017
11,Kauffman Stadium,Kansas City,Kansas City Royals,2017
12,Angel Stadium of Anaheim,Anaheim,Los Angeles Angels of Anaheim,2017
13,Dodger Stadium,Los Angeles,Los Angeles Dodgers,2017
14,Marlins Park,Miami,Miami Marlins,2017
15,Miller Park,Milwaukee,Milwaukee Brewers,2017
16,Target Field,Minneapolis,Minnesota Twins,2017
17,Citi Field,New York,New York Mets,2017
18,Yankee Stadium,Bronx,New York Yankees,2017
19,Oakland Coliseum,Oakland,Oakland Athletics,2017
20,Citizens Bank Park,Philadelphia,Philadelphia Phillies,2017
21,PNC Park,Pittsburgh,Pittsburgh Pirates,2017
22,Petco Park,San Diego,San Diego Padres,2017
23,AT&T Park,San Francisco,San Francisco Giants,2017
24,Safeco Field,Seattle,Seattle Mariners,2017
25,Busch Stadium,St. Louis,St. Louis Cardinals,2017
26,Tropicana Field,Tampa Bay,Tampa Bay Rays,2017
27,Globe Life Park in Arlington,Arlington,Texas Rangers,2017
28,Rogers Centre,Toronto,Toronto Blue Jays,2017
29,Nationals Park,Washington,Washington Nationals,2017
0,Chase Field,Phoenix,Arizona Diamondbacks,2016
1,SunTrust Park,Atlanta,Atlanta Braves,2016
2,Oriole Park at Camden Yards,Baltimore,Baltimore Orioles,2016
3,Fenway Park,Boston,Boston Red Sox,2016
4,Wrigley Field,Chicago,Chicago Cubs,2016
5,Guaranteed Rate Field,Chicago,Chicago White Sox,2016
6,Great American Ball Park,Cincinnati,Cincinnati Reds,2016
7,Progressive Field,Cleveland,Cleveland Indians,2016
8,Coors Field,Denver,Colorado Rockies,2016
9,Comerica Park,Detroit,Detroit Tigers,2016
10,Minute Maid Park,Houston,Houston Astros,2016
11,Kauffman Stadium,Kansas City,Kansas City Royals,2016
12,Angel Stadium of Anaheim,Anaheim,Los Angeles Angels of Anaheim,2016
13,Dodger Stadium,Los Angeles,Los Angeles Dodgers,2016
14,Marlins Park,Miami,Miami Marlins,2016
15,Miller Park,Milwaukee,Milwaukee Brewers,2016
16,Target Field,Minneapolis,Minnesota Twins,2016
17,Citi Field,New York,New York Mets,2016
18,Yankee Stadium,Bronx,New York Yankees,2016
19,Oakland Coliseum,Oakland,Oakland Athletics,2016
20,Citizens Bank Park,Philadelphia,Philadelphia Phillies,2016
21,PNC Park,Pittsburgh,Pittsburgh Pirates,2016
22,Petco Park,San Diego,San Diego Padres,2016
23,AT&T Park,San Francisco,San Francisco Giants,2016
24,Safeco Field,Seattle,Seattle Mariners,2016
25,Busch Stadium,St. Louis,St. Louis Cardinals,2016
26,Tropicana Field,Tampa Bay,Tampa Bay Rays,2016
27,Globe Life Park in Arlington,Arlington,Texas Rangers,2016
28,Rogers Centre,Toronto,Toronto Blue Jays,2016
29,Nationals Park,Washington,Washington Nationals,2016

Tansform mlb API

In [20]:
# Create a filtered dataframe from specific columns
mlb_api_transformed= mlb_ap_tables[["name_display_long", "year", "venue_name", "city"]].copy()

# Rename the column headers
mlb_api_transformed = mlb_transformed.rename(columns={"name_display_long": "team_name",
                                                            "year": "year",
                                                            "city": "city",
                                                            "venue_name": "venue"})

# Clean the data by dropping duplicates and setting the index
#mlb_transformed.drop_duplicates("team_name", inplace=True)
#mlb_transformed.set_index("team_name", inplace=True)

mlb_api_transformed.head(1000)

                team_name  year attendance
0    Arizona Diamondbacks  2016  2,036,216
1    Arizona Diamondbacks  2015  2,080,145
2    Arizona Diamondbacks  2014  2,073,730
3    Arizona Diamondbacks  2013  2,134,895
4    Arizona Diamondbacks  2012  2,177,617
..                    ...   ...        ...
995        Detroit Tigers  1945  1,280,341
996        Detroit Tigers  1944    923,176
997        Detroit Tigers  1943    606,287
998        Detroit Tigers  1942    580,087
999        Detroit Tigers  1941    684,915

[1000 rows x 3 columns]